@(title: String = Messages("application.title"))(additionalScripts: List[String] = List())(content: Html)(implicit request: RequestHeader)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href=" @routes.Assets.at("stylesheets/bootstrap.css") ">
        <link rel="stylesheet" media="screen" href=" @routes.Assets.at("stylesheets/main.css") ">

        <link rel="shortcut icon" type="image/png" href=" @routes.Assets.at("images/favicon.png") ">

        <script src=" @routes.Assets.at("javascripts/jquery-1.8.2.min.js") " type="text/javascript"></script>
        <script src=" @routes.Assets.at("javascripts/bootstrap.js") " type="text/javascript"></script>

        <script src=" @routes.Assets.at("javascripts/site/global.js") " type="text/javascript"></script>

        @for(script <- additionalScripts) {
            <script src=" @routes.Assets.at("javascripts/site/" + script) " type="text/javascript"></script>
        }
    </head>
    <body>

        @if(request.flash.get("level").isDefined) {
            @defining(if (request.flash.get("level").get == "warning") "" else "alert-" + request.flash.get("level").get) {level =>
                <div class="alert @level">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    @request.flash.get("msg").get
                </div>
            }
        }

        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span1"></div>
                <div class="span10">
                    <div class="navbar">
                        <div class="navbar-inner">
                            <a class="brand" href="@routes.IndexController.index">@Messages("application.title")</a>
                            <ul class="nav">
                                <li><a href="@routes.IndexController.index">@Messages("menu.dashboard")</a></li>
                                <li><a href="@routes.BookController.list()">@Messages("menu.browse")</a></li>
                                @if(request.session.get("authenticated").isDefined) {
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                            @Messages("menu.books")
                                            <b class="caret"></b>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li><a href="@routes.BookController.addManualForm">@Messages("menu.books.manualAdd")</a></li>
                                            <li><a href="@routes.BookController.addGoogleBooksForm">@Messages("menu.books.gbAdd")</a></li>
                                        </ul>

                                    </li>
                                }
                                <form action="@routes.BookController.list()" method = "get" class="navbar-search pull-right">
                                    <input type="text" placeholder="@Messages("menu.search.placeholder")" name="q" class="input-small search-query"
                                        value="@request.queryString.get("q").map(_.headOption).getOrElse("")">
                                </form>
                            </ul>

                            @if(request.session.get("authenticated").isDefined) {
                                <ul class="nav pull-right">
                                    <li class="pull-right"><a href="@routes.LogoutController.logout">@Messages("log.out")</a></li>
                                </ul>
                            } else {
                                @helper.form(action = routes.LoginController.login, 'class->"navbar-form pull-right") {
                                    <input type="password" placeholder="@Messages("password")" id="password" name="password" class="input-small">
                                    <button type="submit" class="btn">@Messages("log.in")</button>
                                }
                            }
                        </div>
                    </div>
                </div>
                <div class="span1"></div>
            </div>
            <div class="row-fluid content-row">
                <div class="span2"></div>
                <div class="span8">
                    @content
                </div>
                <div class="span2"></div>
            </div>
            <div class="row-fluid footer">
                <div class="span2"></div>
                <div class="span8">
                    <hr/>
                    <a href="@Messages("application.home")">@Messages("application.title")</a>,
                    <a href="mailto:@Messages("application.author.email")">@Messages("application.author.name")</a>, 2012 ---
                    Flag icons by <a href="http://www.icondrawer.com">www.icondrawer.com</a>
                </div>
                <div class="span2"></div>
            </div>
        </div>
    </body>
</html>
