@(books: List[Book])(implicit session: Session, flash: Flash, request: Request[_])

@layout.main("Homelibrary main page")(List("dashboard.js")) {
	<div class="index">
        <h3>@Messages("index.header")</h3>

        <p>@Html(Messages("index.paragraph1"))</p>
        <p>@Html(Messages("index.paragraph2"))</p>
        <p>@Html(Messages("index.paragraph3", Messages("application.home")))</p>


        <hr>
        <h4>@Messages("index.books.title")</h4>
        @if(books.isEmpty) {
            <p>@Messages("index.book.empty")
        } else {

            <div class="books">
                @for(book <- books) {
                    <div class="book">
                        <a href="@routes.BookController.detail(book.id.get)">
                            @tags.bookImage(book.coverPictureUrl.getOrElse(""))
                        </a>
                        <div class="title">
                            <a href="@routes.BookController.detail(book.id.get)">@book.title</a>
                        </div>
                    </div>

                }
            </div>

        }


        <div class="clearfix"></div>
        <hr>
        <h4>@Messages("index.maintenance.title")</h4>
        @session.get("authenticated").map {_ =>
            <a href="#" class="db-cleanup"
                        data-cleanup-url="@routes.UtilController.cleanup"
                        data-cleanup-question="@Messages("index.cleanup.question")"
                        data-cleanup-message="@Messages("index.cleanup.message")">@Messages("index.cleanup.title")</a>
        }
	</div>
}