@()(implicit session: Session, flash: Flash, request: Request[_])

@layout.main("Homelibrary main page")(List("dashboard.js")) {
	
	<h3>@Messages("index.header")</h3>
  
    <p>@Html(Messages("index.paragraph1"))</p>
	<p>@Html(Messages("index.paragraph2"))</p>
  
  
	@session.get("authenticated").map {_ =>
  		<a href="#" class="db-cleanup" 
					data-cleanup-url="@routes.UtilController.cleanup"
					data-cleanup-question="@Messages("index.cleanup.question")"
                    data-cleanup-message="@Messages("index.cleanup.message")">@Messages("index.cleanup.title")</a>
	}
}